@model IEnumerable<BeFitApp.Models.Exercise>

@{
    ViewData["Title"] = "My Exercises";
}

<h1>My Exercises</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Exercise</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Session Date</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight (kg)</th>
            <th>Difficulty</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ExerciseTypeNav.ExerciseName)</td>
                <td>@item.ExerciseSessionNav.StartDateTime.ToString("g")</td>
                <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                <td>@Html.DisplayFor(modelItem => item.Repetitions)</td>
                <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                <td>@Html.DisplayFor(modelItem => item.DificultyLevel)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>